
*{
  box-sizing: border-box;
}

.clearfix:before,
.clearfix:after {
  content: '';
  clear: both;
  display: table;
}

html {
  font-size: 16px;
}

body{
  font-family: 'Titillium Web', Helvetica, Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 300;
  color: #555;
}

h1, h2, h3, h4, h5, h6, .button, .discover{
  font-family: 'Teko', Arial, sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  line-height: 1;
}

h2, h3, h4, h5, h6{
  font-weight: 400;
}

a {
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

h1{
  font-size: 120px;
  color: #fff;
  letter-spacing: 13px;
  text-align: center;
  line-height: 1;
  margin-bottom: 30px;
}

.hero{
  position: relative;
  height: 90vh;
}

header{
  height: 100vh;
  min-height: 600px;
  background: #7f7b7e url(../img/hero-bg.jpg) no-repeat center center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
}

.container{
  max-width: 1170px;
  margin: 0 auto;
}

.fa-bars {
  display: none;
}

nav ul li{
  display: inline-block;
  margin-right: 38px;
  height: 42px;
}


nav ul li a{
  color: #fff;
  opacity: 0.5;
  text-decoration: none;
}

nav ul li:hover{
  border-bottom: 3px solid #fff;
}

nav ul li:hover a {
  opacity: 0.9;
}

nav ul li.active a{
  opacity: 1;
}

.top-bar{
  height: 71px;
  width: 100%;
  border-bottom: 1px solid rgba(255,255,255, 0.1);
}

.logo{
  float: left;
}
.navigation{
  float: right;
  padding-top: 28px;
}


.button{
  padding: 9px 15px;
  border: 2px solid rgba(255,255,255,0.5);
  margin: 0 auto;
  background: transparent;
  font-size: 20px;
  color: #fff;
  letter-spacing: 2px;
}

.button .fa-play{
  margin-right: 10px;
}

.hero a{
  display: block;
  margin: 0 auto;
  width: 190px;
}

.title{
  width: 80%;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
  -webkit-transform: translate(-50%, -60%);
  -moz-transform: translate(-50%, -60%);
  -o-transform: translate(-50%, -60%);
}

.title .button {
  padding: 10px 15px 7px;
}

.discover{
  position: absolute;
  text-align: center;
  left: 50%;
  bottom: 25px;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}
.discover img{
  display: block;
  width: 22px;
  height: 32px;
  margin: 0 auto 10px;
}

.discover a{
  text-decoration: none;
  color: #ddd;
  letter-spacing: 3px;
}

.title .button:hover,
.discover a:hover {
  opacity: 0.6;
}

.cta {
  min-height: 275px;
  width: 60%;
  margin: 0 auto;
  text-align: center;
  padding: 60px 0;
}

.cta h2 {
  font-size: 40px;
  color: #000;
  text-align: center;
  letter-spacing: 4px;
  line-height: 1.3;
  margin-bottom: 30px;
}

.cta .button {
  background: #9a8c6a;
  border: none;
  padding: 18px 50px;
  letter-spacing: 5px;
  transition: all 0.7s ease;
}

.cta .button:hover {
  background: none;
  color: #9a8c6a;
  border: 2px solid #9a8c6a;
}

.work {
  background: #ddd;
}

.work .projects {
  float: left;
  width: 50%;
}

.work img {
  width: 100%;
  display: block;
}

.slideshow li,
.single-project,
.featured-projects {
  position: relative;
}

.slideshow-nav {
  position: absolute;
  z-index: 3;
  bottom: 40px;
  left: 60px;
}

.slideshow-nav li {
  height: 4px;
  background: #fff;
  width: 35px;
  margin: 0;
  margin-right: 10px;
  opacity: 0.4;
}

.slideshow-nav li.active {
  opacity: 1;
}

.project-info {
  position: absolute;
  bottom: 100px;
  padding: 0px 60px;
}

.project-info h2 {
  font-size: 60px;
}

.project-info h3 {
  font-size: 30px;
  opacity: 0.3;
}

.single-project .project-info {
  padding: 0px 50px 0 30px;
  bottom: 40px;
}

.single-project h2,
.single-project p {
  color: #fff;
}

.single-project p {
  opacity: 0.7;
}

.show-more {
  clear: both;
  background: #30282a;
  padding: 20px 0 30px;
  text-align: center;
}

.show-more a {
  border: 0;
  border-bottom: 2px solid white;
  padding: 0;
  padding-bottom: 6px;
}

.show-more a:hover {
  color: #9a8c6a;
  border-bottom: 2px solid #9a8c6a;
}

.connect {
  padding: 57px;
}

.connect li {
  display: inline-block;
}

.connect h3,
.connect h4 {
  color: #000;
}

.connect h3 {
  font-size: 40px;
}

.connect h4 {
  font-size: 30px;
  margin: 10px 0;
}

.details {
  margin-bottom: 70px;
}

.details li {
  width: 50%;
  vertical-align: top;
}

.details li:first-child {
  padding-right: 20px;
}

.details li:last-child {
  padding-left: 20px;
}

.social ul {
  margin-top: 25px;
}

.social li {
  width: 25%;
  padding: 15px;
  margin-right: -4px;
  display: table;
  float: left;
}

.social li:first-child {
  padding-left: 0;
}

.social li:last-child {
  padding-right: 0;
}

.social .fa {
  display: block;
  font-size: 38px;
  margin-bottom: 5px;
}

.social a {
  color: #fff;
  width: 100%;
  background: #30282a;
  display: inline-block;
  text-align: center;
  height: 150px;
  display: table-cell;
  vertical-align: middle;
  font-family: "Teko", Helvetica, sans-serif;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.social a:hover {
  color: #9a8c6a;
  opacity: 0.9;
}

.contact {
  padding: 70px 0;
  background: #30282a;
}

.contact h5,
.contact h6 {
  color: #fff;
  letter-spacing: 2px;
  font-size: 20px;
  text-align: center;
  font-weight: 300;
  margin-top: 12px;
}

.contact h6 {
  font-size: 12px;
  margin-top: 0;
}

.contact-info {
  background: #9a8c6a;
  padding: 30px 0;
  width: 350px;
  margin: 0 auto;
}

.contact-info img {
  margin: 0 auto;
  width: 24px;
  display: block;
  margin-bottom: 10px;
}

.footer-links {
  padding: 50px 0 20px;
}

.footer-links h4 {
  font-size: 30px;
  color: #000;
  border-bottom: 2px solid #000;
  font-weight: 300;
  padding-bottom: 5px;
  margin-bottom: 20px;
}

.footer-links nav div {
  display: inline-block;
  /*border: 1px solid pink;*/
  margin-left: -4px;
  vertical-align: top;
  padding: 0px 14px;
}

.footer-links .about,
.footer-links .works {
  width: 25%;
}

.footer-links .works {
  float: right;
}

.footer-links .services {
  width: 50%;
}

.footer-links li {
  display: block;
  height: auto;
}

.footer-links li:hover {
  border: none;
}

.footer-links a {
  opacity: 1;
  color: #555;
}

.footer-links a:hover {
  color: #9a8c6a;
}

.services li {
  width: 50%;
  float: left;
  margin: 0;
}

.copyright {
  margin-top: 90px;
  border-top: 1px solid #e5e5e5;
  width: 100%;
}

.copyright p {
  padding-top: 15px;
  font-size: 12px;
}




@media screen and (max-width: 1024px) {
  .title {
    width: 100%;
  }

  h1 {
    font-size: 80px;
  }

  .cta {
    width: 90%;
  }
}

@media screen and (min-width: 601px) and (max-width: 768px) {
  .social li {
    width: 50%;
  }

  .social li:nth-child(2n+1) {
    padding-left: 0;
  }

  .social li:nth-child(2n) {
    padding-right: 0;
  }
}

@media screen and (min-width: 601px) and (max-width: 768px) {
  .slideshow-nav {
    display: none;
  }

  .project-info {
    bottom: 20px;
    padding: 0 10px;
  }

  .project-info h3 {
    font-size: 20px;
  }

  .project-info h2 {
    font-size: 40px;
  }

  .single-project .project-info {
    padding: 0 20px;
    bottom: 10px;
  }
}

@media screen and (max-width: 600px) {
  .cta h2 {
    font-size: 30px;
    line-height: 1.1;
  }

  .cta .button {
    padding: 10px 40px;
  }

  .work .projects {
    width: 100%;
  }

  .social a {
    color: #30282a;
    width: 100%;
    display: inline-block;
    text-align: center;
    height: auto;
    font-family: "Teko", Helvetica, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    background: none;
  }

  .footer-links nav {
    position: relative;
  }

  .footer-links .about,
  .footer-links .works {
    width: 50%;
  }

  .footer-links .services {
    width: 100%;
    margin-top: 50px
  }

  .contact-info {
    width: 100%;
  }

  .contact {
    padding: 0;
  }

  .copyright {
    margin-top: 50px;
  }

  .copyright p {
    text-align: center;
  }
}

@media screen and (max-width: 480px) {
  h1 {
    font-size: 40px;
  }

  .cta h2 {
    font-size: 24px;
    line-height: 1.1;
  }

  .project-info {
    bottom: 10px;
    padding: 0px 10px;
  }

  .single-project .project-info {
    bottom: 10px;
    padding: 0 10px;
  }

  .project-info h2 {
    font-size: 32px;
  }

  .project-info h3 {
    font-size: 20px;
  }

  .slideshow-nav {
    display: none;
  }

  .project-info {
    line-height: 1.4;
  }

  .connect {
    padding: 40px 20px;
  }

  .details {
    margin-bottom: 40px;
  }

  .details li {
    width: 100%;
  }

  .details li:first-child {
    padding: 0;
    margin-bottom: 40px;
  }

  .details li:last-child {
    padding: 0;
  }

  .details img {
    margin: 0 auto 15px;
    display: block;
  }

  .social li {
    width: 50%;
    padding: 0;
  }

  .social li:first-child,
  .social li:nth-child(2) {
    margin-bottom: 25px;
  }

  .footer-links .about,
  .footer-links .works {
    width: 100%;
  }

  .footer-links .works {
    margin-top: 50px;
  }

  .navigation {
    padding: 0;
    width: 100%;
  }

  .fa-bars {
      display: block;
      color: white;
      font-size: 25px;
      padding: 20px;
  }

  #menu-button {
    position: absolute;
    top: 0;
    right: 0;
  }

  .navigation ul {
    display: none;
  }

  nav ul li:hover {
    border-bottom: 3px solid #fff;
  }

  #menu {
    position: relative;
    z-index: 5;
    top: -5px;
  }

  #menu li {
    display: block;
    margin: 0;
    text-align: center;
  }

  #menu li:hover {
    border-bottom: none;
  }

  #menu li a {
    display: block;
  }

  #menu li a:hover {
    background: rgba(255, 255, 255, 0.2);
    padding: 8px;
  }
}
